.content {
    max-height: 4.8em; /* Adjust this value as needed */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to display */
    -webkit-box-orient: vertical;
  }
  .status-bullet-green {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
  }
  
  .status-bullet-red {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
  }
  .img-small {
    max-width: 100px;
    height: auto;
}
