
  .status-bullet-green {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
  }
  
  .status-bullet-red {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
  }
  img.img-responsive {
    width: 1000px;
    height: 250px;
}

